doctype html
html(lang="en")
    link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous")
    link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap-theme.min.css" integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ" crossorigin="anonymous")

    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body
    div(class="container")
            div(class="card")
                div(class = "card-header") Pesquisar Tags Despertar

                    form(action="/leadtrack", method="post")
                        div(class="mb-3")
                            select(name="tag" class="form-control")
                                option(value="todos") todos
                                option(value ="e-book-doula-2") e-book-doula-2
                                option(value ="land-ebook-dor-parto") land-ebook-dor-parto
                                option(value ="sadhana-jun-22") sadhana-jun-22
                                option(value ="land-desnecesarea") land-desnecesarea
                                option(value ="land-plano-parto") land-plano-parto
                            input(class="form-control btn-primary btn-submit" type="submit", value="Pesquisar Leads")
    br
    br
    if response != null
        input(type="text" id="myInput" onkeyup="myFunction()" placeholder="Pesquisar...")
        table(class="table" id="myTable")
          tr(class="header")
            th Name
            th Email
            th Telefone
            th Tag
            th Cidade
            th Data Envio
          each elem,i in response
            tr
              td !{elem.name}
              td !{elem.email}
              td !{elem.phone_number}
              td !{elem.tag}
              td !{elem.city}
              td !{elem.date}
              td !{elem.submission_date}
              


script.
  const myFunction = () => {
    const trs = document.querySelectorAll('#myTable tr:not(.header)')
    const filter = document.querySelector('#myInput').value
    const regex = new RegExp(filter, 'i')
    const isFoundInTds = td => regex.test(td.innerHTML)
    const isFound = childrenArr => childrenArr.some(isFoundInTds)
    const setTrStyleDisplay = ({ style, children }) => {
      style.display = isFound([
        ...children // <-- All columns
      ]) ? '' : 'none' 
    }

    trs.forEach(setTrStyleDisplay)
  }